@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans|Pacifico|Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio|Roboto&display=swap');

.container-menu-dashboard{
    width: 280px;
    position: fixed;
    height: calc(100% - 60px);
    left: 30px;
    top: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    z-index: 14;
    transition: 0.8s;
}
.logo-menu{
    border-bottom: 1px solid #f1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;;
    background-color: #cdd8de21;
    padding-left: 0.3rem;
}
.nav-toggle-click{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.nav-toggle-click span{
    width: 32px;
    height: 2px;
    background-color: red;
    margin: 0.2rem; 
}

.name-nav-menu{
    text-transform: uppercase;
    font-size: .7438rem;
    margin: 1rem auto 1rem 0.5rem;
    color: #da624a;
    opacity: .8;
    white-space: nowrap;
}
.main-name-nav{
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    text-align: center;
    position: relative;
    cursor: pointer;  
}
.main-name-nav a,.child-menu-nav a{
    color: #da624a;
    text-decoration: none;
}
.wrap-title-nav{
    margin-left: 2rem;
    line-height: 4rem;
    border-bottom: 1px solid #f5f5f5;
    
}
.container-nav-active{
    left: -300px;
    transition: 0.8s;
}
.toggle-click{
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    color: #6c757d;
    cursor: default;

}
.child-menu-nav{
    color: #6c757d;
    display: none;
    cursor: default;
    font-size: 1.1rem;
    
}
.child-nav::before{
    content: ".";
    color: red;
    font-size: 15px;
    font-weight: 900;
    padding-right:1rem ;
}
.nav-item-active .toggle-click{
    transform: rotate(90deg);
    color: red;
}
.nav-active{
    position: fixed;
    width: 42px;
    height: 42px;
    left: 0;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-right: 0;
    padding-right:0.4rem ;
}

 /* scroll bar */

::-webkit-scrollbar {
    width: 8px;
}
  

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background: #f3f3f3; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #f4f4f4; 
}

/* admin-2 */

.admin-all-religions{
    width: 70%;
    position: absolute;
    right: 5%;
    margin-top:30px ;
}
.admin-all-religions table th{
    text-align: center;
    color: rgb(120, 120, 120);
    line-height: 3rem;
    font-size: 1.1rem;
}
.admin-all-religions table tr{
    border-bottom: 1px solid #ddded7;
}
.admin-all-religions table td{
    padding: 1rem;
}
.admin-all-religions table{
    background-color:#fdfdfd;
    position: relative;
    font-family: 'Roboto', sans-serif; 
    -webkit-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
}
.admin-all-religions button{
    padding: .5rem 1.25rem;
    background-color: #0cf;
    border: none;  
    border-radius: 10rem; 
}
.admin-all-religions button a{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    text-decoration: none;
    font-weight: 600;
}
.admin-all-religions button:hover{
    transition: all .3s ease;
    background-color: #008fb3;
}
table tr td:nth-child(2) a{
    font-size: 1.1rem;
    text-decoration: none; 
    color: #5d5959;
}
table tr td:nth-child(3) a{
    font-size: 1rem;
    text-decoration: none; 
    color: #5d5959;
    font-family: 'Gelasio', serif;
}
.alert-delete-form{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: #f2fffd;
    border: 1px solid #008fb3;
    opacity: 0;
    -webkit-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
}
.wrap-btn{
    display: flex;
    justify-content: flex-end;
}
.wrap-btn button{
    margin: 1rem 0.2rem;
}
.wrap-btn button a{
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
}
.alert-name{
    color: #333;
    text-indent: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.alert-ifo{
    color: red;
    text-indent: 0.3rem;
}


@media(max-width:960px){
    .admin-all-religions{
        width: 100%;
        position: absolute;
        right: 0;
    }
    table tr td:nth-child(1){
        padding: 0;
        padding-left: 1rem;
    }
    .nav-active{
        top:0;
    }
}
@media(max-width:768px){

    table tr td:nth-child(4) button{
        padding: .25rem 0.7rem;
    }
    table tr td:nth-child(5) button{
        padding: .25rem 0.7rem;
    }
}





