.about_block {
    width: 80%;
    margin: auto;
}
.map-com {
    width: 400px;
    height: 500px;
}
.title-about {
    text-align: center;
    margin-bottom: 50px;
}
.title-about h5{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.group-infor {
    margin: 10px 0;
}
.gallery-com {
    margin-top: 50px;
}
.title h6 {
    font-size: 22px;
    text-transform: uppercase;
    color: #6c757d;
}
.swiper-slide {
    width: 582px !important;
    height: 400px !important;
}
.swiper-slide img{
    width: 100%;
    height: 90%;
}