#festivals_ad {
    padding-top: 50px;
}
.admin-festivals {
    background: #fff;
    padding: 25px;
    width: 80%;
    margin-left: auto;
    border: 1px solid #dee2e6;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    -moz-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
}
.detail-festivals {
    background: none;
}
.festivals_main {
    padding: 20px 50px;
}
.title {
    text-align: center;
    margin-bottom: 40px;
}
.group {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.group label{
    width: 90px;
}
.group .error{
    color: red;
    font-weight: 600;
    display: block;
    font-size: 13px;
}
.input_festival {
    padding: 2px 10px;
    width: calc(100% - 100px);
    border-radius: 3px;
    border: 1px solid lightgray;
}
.input_festival:focus {
    outline: none;
}
#date {
    width: auto;
    margin-right: 5px;
}
#des_festival {
    padding: 6px 10px;
}
.title h6 {
    font-size: 26px;
    text-transform: uppercase;
}
.item-fes:{
    transition: 0.4s;
}
.item-fes:hover {
    background: rgb(219, 219, 219);
}
.name-fes {
    font-size: 15px;
    color: black;
}
.name-fes:hover {
    text-decoration: none;
}
.name-reli {
    font-size: 15px;
    color: black;
}
.name-reli:hover {
    text-decoration: none;
}
.date-fes{
    font-size: 14px;
}
.place-fes {
    font-size: 14px;
}
.stt-fes {
    font-size: 14px;
}
.active {
    color: blue;
}
.no-active {
    color: red;
}
.lb_file {
    width: 100% !important;
    text-align: center;
    background: #39D2B4;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    transition: all .4s;
}
.ip_file {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 30%;
    width: 100% !important;
    opacity: 0.01;
    cursor: pointer;
}
.ip_file:hover + .lb_file,
.ip_file:focus + .lb_file{
    background:#34495E;
}
.btn-admin-festival {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background: #007bff !important;
    color: #fff !important;
}
.btn-admin-festival:hover {
    background: #0056b3 !important;
}
.btn-edit {
    background: #ffc107 !important;
}
.btn-edit:hover {
    background: #d39e00 !important;
}
.place {
    width: 50px;
}
.name {
    width: 255px;
}
.image-festival {
    border: 8px solid lightgray;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    -moz-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    box-shadow: 0 1.6875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
}
.image-festival img{
    width: 100%;
}
.action {
    margin-top: 10px;
    padding: 0 25px;
    display: flex;
}
.action span{
    font-size: 14px;
}
.select-all {
    margin-right: 30px;
}
.action .arrow{
    transform: rotate3d(0, -362, 0, 178deg);
    color: red;
    padding: 0 5px;
    font-size: 20px;
}
.delete button {
    background: none;
    border: none;
    color: blue;
}