

.blog-grid-info {
    opacity: 0.5;
    color: black;
    padding-left: 0%;
    margin-left: 0%;
}

.blog-grid-info .time-date{
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.title-festival {
    font-size: 30px;
    color: #333;
}

.i_img .iss{
    margin: 30px 0;
    width: 100%;
    height: auto;
}



ul{
    list-style-type: none;
}

.line{
    border-bottom-width: 3px ;
    border-bottom-color:black;
    border-bottom-style: solid;
}

.line h5{
color: crimson;
border-bottom-width: 10px;

}

.detail{
    display: block;
    padding: 20px 0;

}
.detail .name {
    color: black;
    font-size: 15px;
}

.detail .a-t {
    font-size: 12px;
    color: gray;
}


.img-detail{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.detail p{
    opacity: 0.7;
}
.dowload-file-pdf {
    margin-top: 60px;
}
#dowload_pdf {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
#dowload_pdf {
    text-decoration: none;
}
#content_festival {
    padding-right:50px;
}
#content_festival img{
    max-width: 100%;
}
@media screen and (max-width: 576px) {
    .similar-festival {
        margin-top: 40px;
    }
    #content_festival {
        padding:0px 20px;
    }
}
@media screen and (min-width: 577px) and (max-width: 1023px) {
    #content_festival {
        padding-right:15px;
    }
    .similar-festival {
        margin-top: 50px;
    }
}