.logonav{
    margin-left:20% ;
}
.nav-bg {
    background: #fff;
    box-shadow: 0 0 5px #bbb;
}
nav ul{
    margin-right:20px ;
}
nav ul li{
    padding-left:10px ;
}
nav ul li a{
    font-weight: 600;
    color: #333 !important;
    opacity: 0.9;
}

.festival-nav{
    position: relative;
    display: inline-block; 
}
.festival-nav:hover .nav-link{
    color: #007bff !important;
}

.nav-dropdown{
    padding-left: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    z-index: 1;
    left: 0;
    padding-top:1rem ;
    box-shadow: 0 5px 5px -5px #333;
    
}
.nav-dropdown li{
    padding: 10px;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #333;
}

.nav-dropdown li a{
    font-size: 0.8rem;
    color: #777 !important;
}
.festival-nav:hover .nav-dropdown{
    display: block;
    
}

.cart-total {
    font-size: 14px;
    color: red;
}

.active-header .nav-link{
color: #007bff !important;
}