.cart {

}
.cart .cart_main {
    width: 70%;
    margin: auto;
}
.cart .cart_noitem {
    text-align: center;
}
.cart .cart_noitem h3{
    
}
.cart .cart_noitem h6{
    font-size: 14px;
}
.cart .cart_noitem a{
    margin-top: 20px;
    padding: 10px 0;
    display: block;
    background: #007bff;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
}
.cart .cart_noitem a:hover{
    text-decoration: none;
    background: #0069d9;
}
.cart .cart_top {
    text-align: center;
    margin-bottom: 60px;
}
.cart .cart_main .cart_title h4{
    font-size: 18px;
}

.cart .cart_item {
    padding: 10px 0;
    margin-top: 10px;
    border: 1px solid #7a7a7a;
    border-right: none;
    border-left: none;
    color: #666;
}
.cart-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cart .cart_item .cart_item_name {
    color: #666;
    font-weight: 600;
    font-size: 15px;
}

.cart .cart_item .cart_item_name:hover {
    text-decoration: none;
}
.cart .cart_item .ip-quantity{
    width: 50%;
    text-align: center;
}
.cart .cart_item .cart_item_image{
    
}
.cart .cart_item .cart_item_image img{
    width: 70%;
}
.cart_total {
    padding: 20px 0;
}
.cart_total .name_total {
    font-weight: 600;
    font-size: 19px;
    color: black;
}
.cart_total .price_total {
    color: red;
    font-weight: 600;
}

.cart_navi {
    margin-top: 20px;
}

.cart_navi .cart_navi_link{
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    background: #007bff;
    color: #fff;
    text-align: center;
}
.cart_navi .cart_navi_link:hover{
    text-decoration: none;
    background: #0069d9;
}
.ava-item{
    width: 35px;
    height: 35px;
    font-size: 15px;
    padding: 10px;
    color: #999;
}
table{
    border-collapse: collapse ;
    width: 100%;
    box-sizing: border-box;
    display: table;
    border-spacing:2px ;
    border-color:2px solid gray;

}
 th{
    min-width: 130px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    /* text-align: center; */
    padding: 20px 15px;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    border-bottom: 1px solid rgb(244, 244, 244);
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td{
    min-width: 130px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding: 20px 15px;
}
.history-list{
    background-color: rgb(255, 255, 255);
    min-height: 400px;
    border-radius: 4px;
    padding: 1px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.box-invoice {
    background: white;
}
.image img {
    width: 45px;
    height: 45px;
}
.name {
    width: 205px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.quantity-item {
    width: 70px;
    padding: 0 10px;
}
.btn-open-popup {
    background: none;
    color: #007bff;
    border: none;
}
.btn-open-popup:active {
    outline: none;
}
@media screen and (max-width: 576px) {
    .cart .cart_main {
        width: 100%;
    }
    .cart .cart_main .cart_title h4{
        font-size: 12px;
    }
    .cart .cart_item .cart_item_image img {
        width: 100%;
    }
    .cart .cart_item .cart_item_name {
        font-size: 13px;
    }
    .cart .cart_item .ip-quantity {
        width: 100%;
    }
    .cart .cart_item .cart_item_price {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cart .cart_main {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .cart .cart_main {
        width: 80%;
    }
}
