.religion {
    padding-top: 50px;
}
.admin-all-religions{
    width: 80%;
    margin-left: auto;
    border: 1px solid #dee2e6;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    -moz-box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);
}
.admin-all-religions button{
    background: none;
    border: none;
    color: #007bff;
}
.admin-all-religions button a{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    text-decoration: none;
    font-weight: 600;
}
.admin-all-religions button:hover{
    color: #0056b3;
}
.block-religions {
    background: #fff;
    padding: 40px;
}
.religion_main {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.edit_main {
    width: 100%;
}
.group {
    padding: 20px 0px;
    padding-left: 0;
    position: relative;
}
.group label{
    font-size: 16px;
    width: 50px;
}
.group select{
    margin-left: 20px;
}
.group input{
    margin-left: 10px;
    padding: 3px 10px;
    width: 80%;
}
.group .error{
    font-size: 14px;
    font-weight: 600;
    color: red;
}
.block-religions .title{
    text-align: center;
}
.block-religions .title h6{
    font-size: 25px;
    text-transform: uppercase;
    color: #6c757d;
}
table tr td:nth-child(2) a{
    font-size: 1.1rem;
    text-decoration: none; 
    color: #5d5959;
}
table tr td:nth-child(3) a{
    font-size: 1rem;
    text-decoration: none; 
    color: #5d5959;
    font-family: 'Gelasio', serif;
}
.alert-delete-form{
    display: none;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: #f2fffd;
    border: 1px solid #008fb3;
    opacity: 0;
    -webkit-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 10px -9px rgba(0,0,0,0.75);
}
.wrap-btn{
    display: flex;
    justify-content: flex-end;
}
.wrap-btn button{
    margin: 1rem 0.2rem;
}
.wrap-btn button a{
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
}
.alert-name{
    color: #333;
    text-indent: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.alert-ifo{
    color: red;
    text-indent: 0.3rem;
}
.input_religions {
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-left: 16px !important;
}
.image-reli-edit {

}
.image-reli-edit img{
    width: 100%;
}
.delete_main {
    margin-top: 50px;
    border-top: 1px solid lightgray;
    padding: 20px 0;
}
.delete_main .title-delete span{
    font-size: 15px;
    color: black;
}
.lb_file {
    width: 100% !important;
    text-align: center;
    background: #39D2B4;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    transition: all .4s;
}
.ip_file {
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 30%;
    width: 100% !important;
    opacity: 0.01;
    cursor: pointer;
}
.ip_file:hover + .lb_file,
.ip_file:focus + .lb_file{
    background:#34495E;
}

.pop-up-delete {
    display: none;
    width: 270px;
    height: 200px;
    position: fixed;
    z-index: 999999;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 1;
    top: 30%;
    left: 50%;
    padding: 15px;
    margin-left: -160px;
    margin-top: -40px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.btn-admin-religion {
    border-radius: 5px;
    padding: 10px 10px;
    background: #007bff !important;
    color: #fff !important;
}
.btn-admin-religion:hover {
    background:#0069d9 !important;
}
.btn-admin-delete {
    margin-top: 10px;
    background: #ffc107 !important;
    padding: 10px 20px;
}
.btn-admin-delete:hover {
    background: #e0a800 !important;
}
.title-pop-up {
    text-align: center;
    margin-bottom: 20px;
}
.title-pop-up span{
    font-size: 16px;
    font-weight: 600;
    color: #e74c3c;
}
.btn-popup {
    width: 100%;
}
@media(max-width:960px){
    .admin-all-religions{
        width: 100%;
        position: absolute;
        right: 0;
    }
    table tr td:nth-child(1){
        padding: 0;
        padding-left: 1rem;
    }
    .nav-active{
        top:0;
    }
}
@media(max-width:768px){

    table tr td:nth-child(4) button{
        padding: .25rem 0.7rem;
    }
    table tr td:nth-child(5) button{
        padding: .25rem 0.7rem;
    }
}