<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="./css/about_us.css">
<title>About us</title>
</head>
<body>
    <div class="container">
        <div class="title-about-us">
            About Us
            <hr>
        </div>
        <div class="row about-us-page">
            <div class="col-lg-3 col-md-6 col-12 logo-about-us text-center">
                <img src="./img/logo.png" class="img-fluid">
                <img src="./img/logo/hand3.jpg" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-12 content-about-us">
                <div class="title-content-about-us">
                    We are always here to connect religions together
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Vero voluptatum non repellat assumenda debitis autem perferendis id, at repudiandae.
                      Nulla earum at asperiores enim excepturi repellendus odit quos numquam commodi.                 
                </p>
                <div class="title-content-about-us">
                        Create a community and grow together
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A architecto, 
                    vel labore ducimus perferendis id, minus quod nisi, non atque omnis officia quidem esse
                     mollitia iste eveniet ea cum? Consectetur.
                </p>
                <div class="title-content-about-us">
                    A community of solidarity building
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit deserunt deleniti quam voluptates, quia qui
                     quaerat hic maxime quis nemo cupiditate beatae voluptatem et aliquam labore? Veritatis ratione dignissimos vitae!
                </p>
            </div>
            <div class="col-lg-3 col-12 map">
                
            </div>
            <div class="col-12 snake-hand text-center">
                <img class="img-fluid" src="./img/logo/snake-hand.jpg" alt="snake-hand" width="80px">
            </div>
        </div> 
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="./js/map.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyQG78wKNsrCS3UFXwoBJIwf_i6HxAl84&callback=initMap">
</script>
</body>
</html>