<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="./css/admin.css">

<title>Admin</title>

</head>
<body>
    <div class="container-menu-dashboard">
        <div class="logo-menu">
            <div class="nav-logo">
                <img class="img-fluid" src="./img/logo.png" alt="logo navbar" width="110px">
            </div>
            <div class="nav-toggle-click">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="content-nav-dashboard-menu">
            <div class="name-nav-menu">Menu</div>
            <div class="title-name-menu">
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        Dashboard
                    </div>
                </div>
            </div>
            <div class="title-name-menu">
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        Religions
                        <div data-id="1" class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav">All Religions</div>
                        <div class="child-nav">Add Religions</div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        Festivals
                        <div data-id="2" class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav">All Festivals</div>
                        <div class="child-nav">Add Festivals</div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        Books
                        <div data-id="3" class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav">Add Category Book</div>
                        <div class="child-nav">All Books</div>
                        <div class="child-nav">Add Books</div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        Bills
                        <div data-id="4" class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav">All Bills</div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        User
                        <div data-id="5" class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav">All User</div>
                        <div class="child-nav">Decentralized User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="./js/admin.js"></script>
</body>
</html>