<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="./css/admin.css">

<title>Admin</title>

</head>
<body>
    <div class="container-menu-dashboard">
        <div class="logo-menu">
            <div class="nav-logo">
                <img class="img-fluid" src="./img/logo.png" alt="logo navbar" width="110px">
            </div>
            <div class="nav-toggle-click">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="content-nav-dashboard-menu">
            <div class="name-nav-menu">Menu</div>
            <div class="title-name-menu">
                <div class="wrap-title-nav">
                    <div class="main-name-nav">
                        <a href="#">Dashboard</a> 
                    </div>
                </div>
            </div>
            <div class="title-name-menu">
                <div class="wrap-title-nav">
                    <div data-id="1" class="main-name-nav">
                        <a href="#">Religions</a> 
                        <div  class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav"><a href="#">All Religions</a></div>
                        <div class="child-nav"><a href="#">Add Religions</a></div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div data-id="2" class="main-name-nav">
                        <a href="#">Festivals</a> 
                        <div class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav"><a href="#">All Festivals</a></div>
                        <div class="child-nav"><a href="#">Add Festivals</a></div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div data-id="3" class="main-name-nav">
                        <a href="#">Books</a> 
                        <div class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav"><a href="#">Add Category Book</a></div>
                        <div class="child-nav"><a href="#">All Books</a></div>
                        <div class="child-nav"><a href="">Add Books</a></div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div data-id="4" class="main-name-nav">
                        <a href="#">Bills</a> 
                        <div  class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav"><a href="#">All Bills</a></div>
                    </div>
                </div>
                <div class="wrap-title-nav">
                    <div data-id="5" class="main-name-nav">
                        <a href="#">User</a> 
                        <div class="toggle-click">></div>
                    </div>
                    <div class="child-menu-nav">
                        <div class="child-nav"><a href="">All User</a></div>
                        <div class="child-nav"><a href="">Decentralized User</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row all-religions">
            <div class="col-lg-3 nth-col"></div>
            <div class="col-lg-9">
                <div class="row religions-row">
                    <div class="col-lg-6 box-religions">
                        <div class="col-lg-10 col-8 text-center child-box-religions">
                            <img class="img-fluid" src="./img/religions/religion1.jpg" alt="logo">
                            <div class="name-of-religions">Christian</div>
                            <div class="edit-religions">
                                <img src="./img/religions/delete.png" alt="delete">
                                <img src="./img/religions/document.png" alt="edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 box-religions">
                        <div class="col-lg-10 col-8 text-center child-box-religions">
                            <img class="img-fluid" src="./img/religions/religion2.jpg" alt="logo">
                            <div class="name-of-religions">Islamic</div>
                            <div class="edit-religions">
                                <img src="./img/religions/delete.png" alt="delete">
                                <img src="./img/religions/document.png" alt="edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 box-religions">
                        <div class="col-lg-10 col-8 text-center child-box-religions">
                            <img class="img-fluid" src="./img/religions/religion3.jpg" alt="logo">
                            <div class="name-of-religions">Buddhism</div>
                            <div class="edit-religions">
                                <img src="./img/religions/delete.png" alt="delete">
                                <img src="./img/religions/document.png" alt="edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 box-religions">
                        <div class="col-lg-10 col-8 text-center child-box-religions">
                            <img class="img-fluid" src="./img/religions/religion4.jpg" alt="logo">
                            <div class="name-of-religions">Hindu religion</div>
                            <div class="edit-religions">
                                <img src="./img/religions/delete.png" alt="delete">
                                <img src="./img/religions/document.png" alt="edit">
                            </div>
                        </div>
                    </div>
                    <div class="alert-delete-form">
                        <div class="alert-name">Are you sure delete religions?</div>
                        <div class="alert-ifo">
                            Deleting a religion will cause you to lose data about that religion. You cannot restore it.
                        </div>
                        <div class="wrap-btn">
                            <button class="btn btn-primary"> <a href="#">Yes, I'm sure</a></button>
                            <button class="btn btn-primary">No, Thank you</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row add-religions">
            <div class="col-lg-3"></div>
            <div class="col-lg-8 form-add-religion">
                <div class="title-add-religion text-center">Add religions</div>
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name-of-religions">Name religion</label>
                        <input class="form-control" type="text" id="name-of-religions">  
                    </div>
                    <div class="form-group file-import">
                        <label for="form-import-file">Drag files here!</label>
                        <input id="form-import-file" type="file">
                    </div>
                    <button class="btn btn-primary mb-4" type="submit">Add religion</button> 
                </form>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="./js/admin.js"></script>
</body>
</html>