<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="css/book.store.css">
<title>Book store</title>
</head>
<body>
    <div class="container">
        <div class="logo-book-store d-flex align-items-center">
            <img class="img-fluid" src="./img/logo/logbook-2.png" alt="logo book" width="120px">
            <div class="title-book-store ">Book store</div>
        </div>
        <div class="row content-book-store">
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid " src="./img/books/b1.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>
                <div class="title-content-book"><a href="#">Trình tự Kurdryavka</a></div>
                <div class="auth-book">Shirai Eiri</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 12.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b2.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>               
                <div class="title-content-book"><a href="#">Nụ hôn của sói</a></div>
                <div class="auth-book">Vĩ Ngư</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 12.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b15.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>               
                <div class="title-content-book"><a href="#">Tiệm sách cũ Blila</a></div>
                <div class="auth-book">MIKAMI EN</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 12.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b4.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>              
                <div class="title-content-book"><a href="#">Ngày xưa có một chuyện tình</a></div>
                <div class="auth-book">Nguyễn Nhật Ánh</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 17.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b5.jpg" alt="book"></a>
                  <button class="btn"><a href="#">Buy now</a></button>  
                </div>              
                <div class="title-content-book"><a href="#">Tây xuất ngọc môn</a></div>
                <div class="auth-book">Miyashita Natsu</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 18.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b6.jpg" alt="book"></a> 
                  <button class="btn"><a href="#">Buy now</a></button> 
                </div>               
                <div class="title-content-book"><a href="#">Kẻ trộm sách</a></div>
                <div class="auth-book">Nomura Mizuki</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 15.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                   <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b7.jpg" alt="book"></a>
                   <button class="btn"><a href="#">Buy now</a></button> 
                </div>         
                <div class="title-content-book"><a href="#">Làm bạn với bầu trời</a></div>
                <div class="auth-book">W Drama Production Team</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 16.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                   <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b8.jpg" alt="book"></a> 
                   <button class="btn"><a href="#">Buy now</a></button>
                </div>            
                <div class="title-content-book"><a href="#">Chúng ta là của nhau</a></div>
                <div class="auth-book">Nhiều Tác Giả</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 13.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b9.jpg" alt="book"></a>
                  <button class="btn"><a href="#">Buy now</a></button>  
                </div>               
                <div class="title-content-book"><a href="#">Mây hoa ánh trăng</a></div>
                <div class="auth-book">MIKAMI EN</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 19.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b10.jpg" alt="book"></a>
                  <button class="btn"><a href="#">Buy now</a></button>  
                </div>               
                <div class="title-content-book"><a href="#">Cá mập cứ người</a></div>
                <div class="auth-book">Diệp Lạc Vô Tâm</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 18.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b11.jpg" alt="book"></a>
                  <button class="btn"><a href="#">Buy now</a></button>  
                </div>               
                <div class="title-content-book"><a href="#">Mùa thu tươi đẹp</a></div>
                <div class="auth-book">show</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 12.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                   <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b12.jpg" alt="book"></a>
                   <button class="btn"><a href="#">Buy now</a></button> 
                </div>               
                <div class="title-content-book"><a href="#">World Teacher2</a></div>
                <div class="auth-book">leonal do sival</div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 22.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                  <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b13.jpg" alt="book"></a>  
                  <button class="btn"><a href="#">Buy now</a></button>
                </div>              
                <div class="title-content-book"><a href="#">Là bạn với bầu trời</a></div>
                <div class="auth-book"><a href="#">Nguyễn Nhật Ảnh</a></div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 18.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b14.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>               
                <div class="title-content-book"><a href="#">Ngày xưa có một chuyện tình</a></div>
                <div class="auth-book"><a href="#">Nguyễn Nhật Ánh</a></div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 15.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b15.jpg" alt="book"></a>
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>                
                <div class="title-content-book"><a href="#">Tiệm sách cũ Billa</a></div>
                <div class="auth-book"><a href="#"></a></div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 10.00</div>
            </div>
            <div class="col-md-3 col-sm-6 item-book-store text-center">
                <div class="wrap-img">
                    <a href=""><img class="mx-auto d-block img-fluid" src="./img/books/b5.jpg" alt="book"></a> 
                    <button class="btn"><a href="#">Buy now</a></button>
                </div>
                <div class="title-content-book"><a href="#">Tây xuất ngọc môn</a></div>
                <div class="auth-book"><a href="#"></a></div>
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <img src="./img/icon/star.png" alt="star">
                <div class="cost-of-book">$ 11.00</div>
            </div>
            <div class="pagination col-12 justify-content-center">
                <span><</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>></span>
            </div>
            
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="./js/book.store.js"></script>
</body>
</html>