<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="apple-touch-icon" href="logo192.png">
    <link rel="manifest" href="/manifest.json">
    <title>Invoice</title>
    <link href="./static/css/2.ff4a7115.chunk.css" rel="stylesheet">
    <link href="./static/css/main.7a2efc6f.chunk.css" rel="stylesheet">
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="./css/invoice.css" rel="stylesheet">
   
</head>

<body>
    <div class="uk-container uk-container-center">


        
    <main>
        <section class="cart flex align-items-center text-center">
            <div class="title__page--home">
                <h6 class="title__page--home__sub">Page</h6>
                <h4 class="title__page--home__main">Cart</h4>
            </div>
            <div class="container">
                <div class="cart__main">
                    <div class="cart__title">
                        <div class="row flex align-items-center text-center">
                            <div class="col-3">
                                <h4>Image</h4>
                            </div>
                            <div class="col-3">
                                <h4>Name</h4>
                            </div>
                            <div class="col-2">
                                <h4>Infor</h4>
                            </div>
                            <div class="col-2">
                                <h4>Price</h4>
                            </div>
                            <div class="col-2">
                                <h4>Delete</h4>
                            </div>
                        </div>
                    </div>
                    <div class="cart__item">
                        <div class="row flex align-items-center text-center">
                            <div class="col-3 cart__item--image">
                                <img src="" alt="SM01">
                            </div>
                            <div class="col-3">
                                <a href="/product/SM01">SM01</a>
                            </div>
                            <div class="col-2">
                                <span>blue / xl</span>
                            </div>
                            <div class="col-2">
                                <span>5678</span>
                            </div>
                            <div class="col-2">
                                <button type="button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cart__item">
                        <div class="row flex align-items-center text-center">
                            <div class="col-3 cart__item--image">
                                <img src="/server/assets/images/SM/ao-so-mi-2.jpg" alt="SM02">
                            </div>
                            <div class="col-3">
                                <a href="/product/SM02">SM02</a>
                            </div>
                            <div class="col-2">
                                <span>blue / xl</span>
                            </div>
                            <div class="col-2">
                                <span>12345</span>
                            </div>
                            <div class="col-2">
                                <button type="button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cart__item">
                        <div class="row flex align-items-center text-center">
                            <div class="col-3 cart__item--image">
                                <img src="/server/assets/images/SM/ao-so-mi-3.jpg" alt="SM03">
                            </div>
                            <div class="col-3">
                                <a href="/product/SM03">SM03</a>
                            </div>
                            <div class="col-2">
                                <span>black / xl</span>
                            </div>
                            <div class="col-2">
                                <span>2105</span>
                            </div>
                            <div class="col-2">
                                <button type="button">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cart__total">
                        <div class="row flex align-items-center text-center">
                            <div class="col-3 cart__total--des">
                                <h4>Total:</h4>
                            </div>
                            <div class="col-3 cart__total--fill">
                            </div>
                            <div class="col-2 cart__total--fill">
                            </div>
                            <div class="col-2 cart__total--value">
                                <span>20128</span>
                            </div>
                            <div class="col-2 cart__total--fill">
                            </div>
                        </div>
                    </div>
                    <div class="cart-directional">
                        <div class="row">
                            <a class="col-md-6" href="/checkout">
                                <button type="button" class="btn-page"><span>Check Out</span></button>
                            </a>
                            <a class="col-md-6" href="/product-category/all">
                                <button type="button" class="btn-page"><span>Continue Shopping</span></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</div>

</body>

</html>