<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="./css/reviewbook.css">

    <title>Riview book</title>
</head>

<body>
    <div class="container">
        <div class="row book-detail">
            <div class="col-lg-3 text-center picture">
                    <img class="img-fluid" src="./img/books/7139mMVQznL.jpg" >
                    <div class="price my-2 mt-3"><span>Price : $</span><a href="#">100.00</a></div>
                    <button class="btn btn-primary mb-2">Add to cart</button>
            </div>  
            <div class="col-lg-6">
                <div class="name-of-book">
                    <a href="#">The World</a>
                </div>
                <div class="star">
                    <img src="./img/icon/star.png" alt="star">
                    <img src="./img/icon/star.png" alt="star">
                    <img src="./img/icon/star.png" alt="star">
                    <img src="./img/icon/star.png" alt="star">
                    <img src="./img/icon/star.png" alt="star"> 
                </div>
                <div class="author-of-book">
                    <span>Author:</span> <a href="#">Travel Planet Public</a>
                </div>
                <div class="content-book-detail">
                    Hứa với nhau như thế nào,Toshiro ?” Oanh tiếp tục. Cô
                    muốn túm lấy bả vai Toshiro và thụi cho cậu những quả
                    đấm trong cơn bấn loạn.
                    “Em muốn anh Toshiro giữ liên lạc với em, không phải em
                    đòi hỏi trách nhiệm chỉ vì anh Toshiro đã ...
                    <br>
                    <a href="#">See more...</a>                         
                </div>
            </div>
        </div>
        <div class="row">
            <div class="review col-12">Riview</div>
            <div class="name-of-book mt-3">
                <a href="#">The World</a>
            </div>
        </div>
        <div class="content-review">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Magni tempora obcaecati tempore. Exercitationem maxime quis assumenda tenetur suscipit,
            sed, natus ratione similique dolores doloribus consectetur impedit, ad corporis expedita.
            Tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iusto, praesentium
            libero earum ex possimus numquam voluptatem cum repudiandae unde eum autem perspiciatis 
            officiis perferendis obcaecati doloremque laboriosam molestiae consequuntur! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Quisquam pariatur nulla molestias obcaecati ab quis 
            quaerat rerum eveniet sunt nobis. Cupiditate quibusdam sit voluptatibus quas voluptatem,
            quisquam adipisci ipsa voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Praesentium doloremque, eveniet repellendus obcaecati amet, at veritatis earum eius eos, 
            in velit maiores sapiente ipsam accusantium ab quae magnam provident ea.
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </script>
</body>

</html>