<!doctype html>
<html lang="en">

  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/sortfestival.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="header">
            <h3 style="color: gray;">Festivals near :.................... </h1>
            <hr>
          </div>
          <div class="row fes-suggest">
            <!-- Phần sự kiện đề xuất -->
            <div class="col-lg-4">
              <a href="">
                <img class="img-fluid" 
                  src="/data/Hindugiao/Holi/jctp0075-holi-festival-bangalore-india-moore-12.jpg ">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="blog-festival">
                <h3>
                  <a href="#" class="hoverable">Holi , Festival of colours</a>
                </h3>
                <a class="time-and-location">Sep.19.2020 / Dehli,India </a>
                <p>The festival of colours, Holi, is the most vibrant of all Hindu festivals. It marks the end of winter in India and welcomes the spring season. On this festive day, people play with colours,
                   meet and greet one another and create new beginnings. </p>
                <a name="button" id="blue-button" class="btn btn-primary"
                  href="#" role="button">Read more>></a>
              </div>
            </div>
          </div>
          <hr>
          <div class="row fes-suggest">
            <!-- Phần sự kiện đề xuất -->
            <div class="col-lg-4">
              <a href="">
                <img class="img-fluid"
                  src="/data/Hindugiao/Diwaii/diwali_sansharma_flickr.jpg">
              </a>
            </div>
            <div class="col-lg-8">
              <div class="blog-festival">
                <h3>
                  <a href="#" class="hoverable">Diwaii , Festival of lights</a>
                </h3>
                <a class="time-and-location">Oct.11.2020 / Mumbai,India </a>
                <p>Diwali, or the festival of lights, is celebrated every
                  October.
                  While Navratri celebrations already have the country enveloped
                  in festive decorations, song, dancing and gluttonous feasts,
                  the next couple of weeks
                  are only going to intensify the celebratory mood</p>
                <a name="button" id="blue-button" class="btn btn-primary"
                  href="#" role="button">Read more>></a>
              </div>
            </div>
          </div>
          <hr>

        </div>
        <!--phần này là side bar -->
        <div class="col-lg-3">
          <h2 class="sidebar-header">
            ARTICLES & FESTIVAL NEWS</h2>
          <!--gợi ý nhỏ-->
          <div class="row articles and festival">
            <div class="col-5">
              <a href="#"><img class="img-fluid"
                  src="/data/Thienchuagiao/Christmas tree lighting/aa_picture_20151205_6985394_high.jpg"></a>
            </div>
            <div class="col-6">
              <a href="#" class="sidebar-text">
                New Year's Eve </a>
              <div class="author-time">
                <ul>
                  <li class="a-t">date/month/year</li>
                  <li class="a-t">author</li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>












    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>