<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
            />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            />
        <link rel="stylesheet" href="./css/user_info.css" />
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="row bigbox">
                <div class="col-lg-3">
                    <div class="left-header">
                        <div class="user-ava">
                            <i class="far fa-user-circle" style="font-size:
                                45px; color: deepskyblue;"></i>
                        </div>
                        <div class="user-name">
                            <h4>Your Account</h4>
                        </div>
                    </div>
                    <div class="item-list">

                        <li>
                            <a href="#">
                                <i class="fas fa-user-alt ava-item"
                                    style="font-size:
                                    25px; color: deepskyblue; padding: 10px;"></i>
                                <span>Account infomation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-file-invoice-dollar ava-item"
                                    style="font-size:
                                    25px; color: deepskyblue; padding: 10px;"></i>
                                <span>Receipt</span>
                            </a>
                        </li>
                    </div>

                </div>
                <div class="col-lg-8">
                    <h4>Your's infomation</h4>
                    <form action="">
                        <div class="box-of-info">
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label"
                                            for="full_name">Your
                                            full name:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Enter your full
                                                    name"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label"
                                            for="full_name">Your
                                            email:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Enter your
                                                    email"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label1"
                                            for="full_name">Phone number:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Enter your
                                                    phone
                                                    number"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label1"
                                            for="full_name">Your address:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Entern your
                                                    addpress"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label"
                                            for="full_name">Your
                                            password:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Enter your
                                                    password"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box">
                                <div class="row box1">
                                    <div class="col-lg-3">
                                        <label class="control-label1"
                                            for="full_name">Confirm your
                                            password:</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="input-warp">
                                                <input
                                                    type="text"
                                                    name="full_name"
                                                    id="full_name"
                                                    class="form-control"
                                                    placeholder="Confirm your
                                                    password"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" style="padding: 10px 0;color:
                            white;font-size: 16px; margin-top: 20px; width:
                            100%;" class="btn btn-warning">Submit</button>
                    </form>

                </div>
            </div>

        </div>
        <div class="container history-list">
            <table>
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Sản phẩm</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái đơn hàng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a
                                href="/sales/order/view?code=329002255">329002255</a>
                        </td>
                        <td>25/12/2019</td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Voluptatem, sit veniam? Quidem, non veniam id,
                            eius excepturi architecto vero distinctio voluptatum
                            pariatur tempora enim et nemo quo hic esse. Odit?</td>
                        <td>Tiki đã tiếp nhận</td>
                        <td>Thành công</td>
                    </tr>
                </tbody>
            </table>
    
        </div>


        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
